@use "../../styles/partials/functions" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  color: $font-primary-color;
  @include flex-wrap(row, space-between);
  padding: toRem(10);
  &__title--left{
  color: $font-secondary-color;  
  order:5;
  margin-right: auto;
  }

  &__wave-icon{
    height: toRem(24);
    margin: 0 auto 0 toRem(10);
    &--left{
      order:0;
    margin: 0 toRem(5) 0 toRem(10);

    }
  }
  &__nav-icon{
    height: toRem(20);
    &--left{
      order:10;
    }
  }
}
